button,html {
	font-family:Lato,sans-serif
}
a,html {
	color:#1D1D1D
}
.nav ul li a,h1,h2,h3 {
	text-transform:uppercase
}
.absolute,.work-item-overlay {
	width:100%;
	margin:0 auto;
	text-align:center;
	position:absolute
}
.link-contain>a,.work-item,body {
	position:relative
}
code {
	background:#ccc;
	padding:2px 10px;
	border-radius:5px
}
.bold-link {
	font-weight:700;
	text-decoration:underline
}
html {
	font-size:18px;
	-webkit-font-kerning:auto;
	font-kerning:auto;
	letter-spacing:.1em;
	box-sizing:border-box
}
button {
	outline:0
}
*,:after,:before {
	box-sizing:inherit
}
a {
	text-decoration:none
}
body {
	margin:0;
	padding:0;
	z-index:0;
	left:0;
	top:0;
	bottom:0
}
p {
	font-family:"Source Code Pro",sans-serif
}
.align-center {
	margin:150px 0;
	text-align:center
}
ul.share-buttons {
	list-style:none;
	padding:0
}
ul.share-buttons li {
	display:inline;
	padding:0 2px
}
.primary-header {
	width:100%;
	height:auto;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1
}
.nav ul {
	padding:0;
	text-align:center;
	list-style-type:none
}
.nav ul li {
	padding:0 5px;
	display:inline-block
}
.nav ul li a {
	font-size:80%
}
.landing-container {
	width:100%;
	min-height:100vh;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	text-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column
}
.landing-cto,.landing-title {
	display:block;
	min-width:100%
}
.landing-title {
	-webkit-flex:1;
	-ms-flex:1;
	flex:1
}
.home-title {
	font-size:160%;
	letter-spacing:.2em
}
.sub-home-title,.work-sub-title,.work-tech {
	font-size:80%;
	font-weight:100
}
.cto-title {
	font-size:60%
}
svg {
	width:60px;
	height:auto
}
.link-contain>a {
	font-size:90%;
	padding:10px 20px;
	text-align:center;
	display:inline-block
}
a.work-link {
	color:#000;
	z-index:10;
	margin:10px 20px 0 0;
	border:2px solid #000
}
a.alt-work-link {
	z-index:10;
	margin:20px 0;
	color:#fff;
	border:2px solid #fff
}
.content-parent-cont {
	width:90%;
	height:100%;
	margin:0 auto;
	position:relative
}
.content-container {
	width:100%;
	height:auto;
	margin:50px auto
}
.content-title {
	width:70%;
	font-size:120%;
	letter-spacing:.2em
}
.content-p {
	font-size:75%;
	line-height:1.8em;
	letter-spacing:.1em
}
.work-grid {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin:50px 0;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center
}
.work-item {
	width:100%;
	height:250px;
	transition:.2s ease-in-out;
	background:#000
}
.work-item-overlay {
	height:100%;
	padding:10px;
	color:#fff
}
.work-title {
	font-size:120%
}
.work-sub-title,.work-tech {
	font-weight:100
}
.project-container {
	width:100%;
	text-align:center;
	margin:50px auto;
	overflow:hidden
}
.project-container img {
	width:100%;
	height:100%
}
.project-title {
	font-size:80%;
	text-align:left
}
#default-footer {
	width:100%;
	height:auto;
	text-align:center
}
@media only screen and (min-width:600px) {
	.home-title {
		font-size:260%;
		letter-spacing:.2em
	}
	.sub-home-title,.work-sub-title,.work-tech {
		font-size:90%
	}
	.cto-title {
		font-size:70%
	}
	.nav {
		padding-top:1%
	}
	.nav ul li a {
		font-size:90%
	}
	.content-parent-cont {
		max-width:70em
	}
	.content-container {
		width:100%;
		min-height:200px;
		margin:100px 0 50px
	}
	.work-item {
		width:300px;
		height:220px;
		margin:10px
	}
	a.alt-work-link:before,a.work-link:before {
		content:"";
		top:0;
		left:0;
		right:0;
		z-index:-1;
		height:100%;
		margin:0 auto;
		position:absolute;
		transition:all .4s
	}
	#blog-post {
		width:60%!important
	}
	a.work-link:hover {
		color:#fff
	}
	a.work-link:before {
		width:0;
		background:#000
	}
	a.work-link:hover:before {
		width:100%
	}
	a.alt-work-link :focus,a.alt-work-link:hover {
		color:#1D1D1D
	}
	a.alt-work-link:before {
		width:0;
		background:#fff
	}
	a.alt-work-link :focus:before,a.alt-work-link:hover:before {
		width:100%
	}
}


button {
  position: relative;
  //display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}
