/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}   
    
    
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
/* @import url('/font-awesome/css/font-awesome.min.css'); */

body * {
    font-family: 'Lato', sans-serif;
}
button {
  position: relative;
  //display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}
.clb {
    clear: both;
}

#container {
    max-width: 1100px; 
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
nav ul {
    float: right; 
    list-style-type: none; 
}

nav ul li {
    float: left; 
    margin-left: 16px;
}
nav ul li {
    padding:14px 20px;
}
.active { 
    background-color: #ccc !important;
    border-radius:3px;
}
nav h1 {
    float: left;
}

nav {
    padding-top: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.aboutMe {
    font-size: 24px; 
    text-align: center; 
    width: 70%; 
    display: block; 
    margin: 0 auto; 
    padding-bottom: 32px; 
    padding-top: 32px; 
    font-style: italic;
    line-height: 34px; 
    font-weight: 300;
}

.content {
    border-top: 1px solid #ccc;
    padding-top: 32px;
    text-align: center;
    padding-bottom: 32px; 
}

.theBox {
    box-sizing: border-box;
    border: 1px solid #ccc; 
    width: 31.33%;
    margin: 1%;
    float: left;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.theBox img {
    width: 100%;
}

.theBox h2 {
    padding: 20px; 
    text-transform: uppercase; 
    font-size: 18px; 
    font-weight: 900;
    letter-spacing: 2px;
    text-align: right;
}

.theBox p {
    padding: 20px;
    line-height: 20px;
    text-align: left;
}

.lastBox {
    margin: 0 auto;
    display: block;
    float: none;
    margin-top: 12px;
}
/* ==============project css==================== */
.project-wrapper{
    width: 70%; 
    display: block; 
    margin: 0 auto;
}
.p-title{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    padding-bottom: 32px;    
}
.p-caption{
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    color: #6c6c6c;
    text-align: left;
    padding-bottom: 14px;
}
.s-title{
    font-family: 'Lato', sans-serif;
    color: #555;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    padding-bottom: 14px;
}
.s-title-sm{
    font-family: 'Lato', sans-serif;
    color: #555;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
    padding-bottom: 14px;
}
.s-desc{
    font-family: Georgia;
    color: #555;
    font-size: 16px;
    text-align: left;
    padding-bottom: 24px;
    line-height:20px;
}
.p-title-img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.p-2-img{
    width: 48%;
    float: left;
    margin-bottom:20px;
}
.p-2-img img{
    width:100%;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    margin-bottom: 4px;
}
.last{
    margin-left:4%;
}
.link-contain>a{
    font-size: 90%;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;  
    max-width:320px; 
}
a.work-link {
    color:#000;
    margin:10px 20px 0 0;
    border:2px solid #000
}
a.work-link:hover{
    color:#fff;
    background:#000;
    transition:.2s ease-in-out;
}

footer {
    padding: 16px; 
    font-size: 11px; 
    color: #999;
    text-align: right;  
    border-top: 1px solid #ccc;
}

a {
    text-decoration: none; 
    color: #111;
}

a:hover {
    color: #999;
}

@media all and (max-width: 899px) {

    #container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .theBox {
        width: 48%;
    }

    .content div.clb {
        display: none;
    }

    .lastBox {
        margin: 1% !important;
        float: left;
    }

}

@media all and (max-width: 499px) {

    .theBox {
        width: 98%;
        margin-bottom: 20px;
    }
    .p-2-img {
        width:98%;
        margin-bottom:20px;
    }
    .last{
        margin:0 auto;
    }
    nav h1 {
        width: 100%;
        text-align: center; 
        margin-bottom: 40px; 
        font-size: 30px;
        font-weight: 300;
    }

    nav ul {
        width: 100%;
    }

    nav ul li {
        width: 33.333%;
        text-align: center; 
        display: block;
        margin-left: 0;
    }

}